
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1491411500297'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1491411500297#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1491411500297') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1491411500297') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1491411500297#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-3:before { content: "\e617"; }

.icon-dianhua:before { content: "\e6c9"; }

.icon-duanxin:before { content: "\e63e"; }

